@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.date{
    background-color: #f6e05e;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23faf089' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.nowserve{
    background-color: #faf089;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d69e2e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.information .title{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23272727' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.number{
    transition: all .3s ease-in-out;
}

.numbercounter{
    transition: all .3s ease-in-out;
}

.number.active{
    font-size: 13rem;
}

.numbercounter.active{
    font-size: 5rem;
}

.hidden{
    visibility: hidden;
}

